.body{
    background-image: url('https://blog.yoobic.com/hubfs/supermarket%20shelves%20cropped.jpeg');
    width:1366px;
    height:657px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .logo{
        font-size: 50px;
        width:220px;
        font-weight:700;
        height:100px;
        background: linear-gradient(to left,
        blue,
        white,
        blue,
        white);
        margin-left: 600px;
        -webkit-background-clip: text;
        color: transparent;
    }
    .login-popup{
        width:350px;
        height:335px;
        background-color:rgba(8, 8, 7, 0.8);
        opacity:0.8;
        position: absolute;
        margin-left:530px;
        margin-top:50px;
        border:1px solid #555555;
        border-radius:20px;
        .register-form{
            position:absolute;
            margin-top:70px;
            margin-left:50px;
            h1{
                text-shadow: #555555;
                margin-top:-55px;
                margin-left:80px;
                color:rgb(250, 247, 247);
            }
            .textbox{
                display:flex;
                margin-left:15px;
                margin-top:20px;
                color:rgb(12, 11, 11);
                .text{
                    .MuiInput-root {
                        border-bottom: 1px solid white !important;
                      }
                    .MuiInputLabel-root {
                        color: white !important;
                    }
                }
            }
            .buttonlabel{
                margin-top:30px;
                .button{
                    margin-left: 40px;
                    padding-left: 60px;
                    padding-right:60px;
                    color:rgb(8, 8, 8);
                    background-color:rgb(238, 243, 238);
                }
                .link{
                    margin-left:28px;
                    color:white;
                    margin-top:10px;
                }
                .button:hover{
                    background-color:rgb(3, 5, 3);
                    color:white;

                }
                .button:disabled{
                    background-color:rgb(98, 102, 98);
                    color:rgb(221, 208, 208);
                    cursor:not-allowed;

                }
            }
        }
    }
}